
.navcontainer {
    /*height: calc(100vh - 70px);*/
    height: 100vh;
    width: 15%;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
    
}

.navcontainer::-webkit-scrollbar {
    display: none;
}

.navclose {
    width: 6%;
}
.nav {
    height: 100%;
    width: 90%;
    background-color: var(--background-color2);
    position:relative;
    top: 0px;
    /*left: 00;*/
    box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    padding: 30px 0 20px 10px;
}
@media (max-width: 600px) {
  .nav {
    flex-direction: column;
  }
}

.nav-option {
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 30px 0 20px;
    gap: 0px;
    transition: all 0.1s ease-in-out;
}

.nav-option:hover {
    border-left: 5px solid #a2a2a2;
    background-color: #dadada;
    cursor: pointer;
}

.nav-img {
    height: 50%;
    width: 16%;
    
}

.nav-upper-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    border-bottom: 2px solid rgba(0, 20, 151, 0.59);
}
.nav-lower-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
}

.option1 {
    border-left: 5px solid #010058af;
    background-color: var(--Border-color);
    color: white;
    cursor: pointer;
}

.option1:hover {
    border-left: 5px solid #010058af;
    background-color: var(--Border-color);
}

.nav-option h3 {
        font-size: 100%;
    }